<center><h1>
<%=firstname%> <%=lastname%> Here is the randomly generated list you requested.<br>

<%=strng%>
</h1></center>




<center>
<form method="post" action="results">
	<input type="hidden" name="firstname" value="<%=firstname%>">
	<input type="hidden" name="lastname" value="<%=lastname%>">
	<input type="submit" value="redo">
</form>
</center>

<body id= "bacon">
</body>